body {
  background: #e6f3ff;
  /* padding: 20px; */
  font-family: Helvetica;
}

#layout {
  background: #fff;
  border-radius: 4px;
  padding: 20px 20px 50px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 750px;
}

#name_player {
  /* height: 25px; */
  width: 150px;
  padding-right: 6px;
  /* align-self: center; */
  
  /* font-size: 20px; */
  /* padding: 3px; */
}

/* canvas{
  height: 100vh;
  z-index: -2;
} */
/* canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
} */
/* 
#sketchpad {
  
  padding:  0px 0px 0px 0px;
} */

/* #colors {
  float: left;
  margin-left:40px;
} */
/* 
#sketchpad {
  float: left;
  margin-left:-80px;

  padding: 0px 0px 0px 0px;
} */

/* 
#blue {
  float: left;
}
#red {
  float: left;
}

#yellow {
  float: left;
} */
/* input {
  height:30px;
  padding: 0px;
  margin: 0px;
  width: 120px;
  font-size: 25px;
  text-align: right;
  padding-right: 5px;
} */

/* #enter_name_div{
  margin: -30px;
}

button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
  height: 30px;
} */

