body {
  background: #e6f3ff;
  padding: 20px;
  font-family: Helvetica;
}

#layout {
  background: #fff;
  border-radius: 4px;
  padding: 20px 20px 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 750px;
}
#num_of_players, #num_of_sessions {
  height: 25px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  padding-right: 5px;
}

#code_group {
  height: 25px;
  width: 65px;
  font-size: 20px;
  padding: 3px;
}
/* input {
  height: 25px;
  width: 100px;
  font-size: 20px;
} */

#search_text {
  width: 300px;
}

.num_input {
  width: 50px;
}

#of_button{
  padding: 10px 20px;
}
#of_rounds{
  padding: 10px 20px;
}

button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

#banner-message.alt {
  background: #0084ff;
  color: #fff;
  margin-top: 40px;
  width: 200px;
}

#banner-message.alt button {
  background: #fff;
  color: #000;
}

#results {
  display: none;
  white-space: pre-wrap;
}

/* #new_group_succes {
  display: none;
} */

#join_group_succes {
  display: none;
}
/* 
#group_options {
  display: none;
}

#enter_code_group {
  display: none;
} */

#results table {
  margin-left:auto;
  margin-right:auto;
}