body {
  background: #e6f3ff;
  /* padding: 20px; */
  font-family: Helvetica;
}

#layout {
  background: #fff;
  border-radius: 4px;
  padding: 20px 20px 50px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 750px;
}

/* #true_sentence {
  padding-bottom: 24px;
} */

/* #sketchpad {
  margin-left:-70px;
}

#colors {
  float: left;
  margin-left:40px;
} */

#submit_button{
  height: 50px;
  width: 80px;
  font-size: 25px;
  padding-right: 74px;
}

/* #blue {
  float: left;
}
#red {
  float: left;
}

#yellow {
  float: left;
}
#black {
  float: left;
} */
input {
  height: 25px;
}

#name {
  width: 100px;
}

#search_text {
  width: 300px;
}

.num_input {
  width: 50px;
}

button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

#banner-message.alt {
  background: #0084ff;
  color: #fff;
  margin-top: 40px;
  width: 200px;
}

#banner-message.alt button {
  background: #fff;
  color: #000;
}
